@page
@model OdonChat.Pages.AccountModel
@section CSS {
    <link rel="stylesheet" href="~/css/account.css" asp-append-version="true" />
}



<div class="app-container">
    <header class="header">
        <div class="header-title">OdonChat</div>

        <button class="btn btn-secondary dropdown-toggle" type="button" id="navButton" data-bs-toggle="dropdown" aria-expanded="false">
            <span>@User?.FindFirst("username")?.Value</span>
            <img src="data:image/*;base64,@Convert.ToBase64String(Model.user.image)" onerror="this.src='img/avatar.png'" class="avatar">
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" asp-page="Account">Account</a></li>
            <li><a class="dropdown-item" asp-page="Index" asp-page-handler="Logout">Logout</a></li>
        </ul>
    </header>
    <div class="profile-page-container">
        <div class="profile-card">
            <div class="card-header">
                <span>Personal Information</span>
            </div>
            <div class="card-body">
                <form asp-page="Account" asp-page-handler="ChangeAvatar" enctype="multipart/form-data" class="upload-form">
                    <div class="container">
                        <img id="avatar" src="data:image/*;base64,@Convert.ToBase64String(Model.user.image)" onerror="this.src='img/avatar.png'" class="profile-avatar">
                        <input type="file" id="photo-upload" name="avatar" accept="image/*">
                    </div>
                    <input type="submit" value="Change" id="submit-button">
                </form>
                <p class="profile-detail">Username: @Model.user.username</p>
                <p class="profile-detail">E-mail: @Model.user.email</p>
                <p class="profile-detail">Birth Date: @Model.user.birthDate.Date.ToString("dd/MM/yyyy")</p>
            </div>
        </div>
    </div>
</div>

@section JS{
    <script src="~/js/account.js"></script>
}