@page
@model OdonChat.Pages.ChatModel
@{
    ViewData["Title"] = "Chat";
}
@section CSS {
    <link rel="stylesheet" href="css/chat.css">
}

<div class="app-container">
    <header class="header">
        <div class="header-title">OdonChat</div>
        <a class="header-user dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <span>@User?.FindFirst("username")?.Value</span>
            <img src="img/avatar.png" class="avatar"></img>
        </a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" asp-page="Account">Account</a></li>
            <li><a class="dropdown-item" asp-page="Index" asp-page-handler="Logout">Logout</a></li>
        </ul>
    </header>

    <div class="main-content">
        <aside class="sidebar">
            <div class="sidebar-user-card">
                <div class="avatar"></div>
                <div class="user-info">
                    <span class="user-name">Nome</span>
                    <span class="user-message">Messaggio</span>
                </div>
            </div>
        </aside>

        <main class="chat-area">
            <div class="message-input-container">
                <input type="text" class="message-input" placeholder="Scrivi un messaggio...">
                <button class="send-button">Invio</button>
            </div>
        </main>
    </div>
</div>