@page
@model OdonChat.Pages.ChatModel
@{
    ViewData["Title"] = "Chat";
}
@section CSS {
    <link rel="stylesheet" href="css/chat.css">
}

<div class="app-container">
    <header class="header">
        <a class="goHomeButton" asp-page="Index">
            <img src="~/img/logo.png" class="logo"/>
            <div class="header-title">OdonChat</div>
        </a>
        <div class="dropdown input-group">
            <input type="text" class="form-control" id="searchInput" placeholder="Search an user...">
            <button id="searchButton" class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Cerca</button>
            <ul class="dropdown-menu" id="searchResults" style="width: 100%;">
            </ul>
        </div>
        <button class="btn btn-secondary dropdown-toggle" type="button" id="navButton" data-bs-toggle="dropdown" aria-expanded="false">
            <span>@User?.FindFirst("username")?.Value</span>
            <img src="data:image/*;base64,@Convert.ToBase64String(Model.avatar)" onerror="this.src='img/avatar.png'" class="avatar"/>
        </button>
        <ul class="dropdown-menu" id="userBar">
            <li><a class="dropdown-item" asp-page="Account">Account</a></li>
            <li><a class="dropdown-item" asp-page="Index" asp-page-handler="Logout">Logout</a></li>
        </ul>
    </header>

    <div class="main-content">
        <aside class="sidebar">
            @foreach(var chat in Model.chat){
                <div class="sidebar-user-card" id="card-@chat.idChat" onclick="showChat(this)">
                    <img src="data:image/*;base64,@Convert.ToBase64String(chat.avatar)" onerror="this.src='img/avatar.png'" class="avatar"/>
                    <div class="user-info">
                        <span class="user-name">@chat.userTo</span>
                        <!-- <span class="user-message">Messaggio</span> -->
                    </div>
                </div>
            }
        </aside>

        <main class="chat-area">
            @foreach (var el in Model.messages) {
                <div class="message-input-container" id="@el.id">
                    <div class="messages">
                        @foreach (var message in el.messages) {
                            <div class="message @(message.userFrom == User.FindFirst("username").Value ? "message-sent" : "message-received")">
                                @if(message.img != null) {
                                    <img src="data:image/*;base64,@Convert.ToBase64String(message.img)" class="img-chat"/>
                                }

                                @if(message.text != null && message.text != "") {
                                    @if (message.img != null) {
                                        <hr class="separator">
                                    }
                                    <span class="text-message">@message.text</span>
                                }
                                
                            </div>
                        }
                    </div>
                    <div class="input-chat">
                        <div class="popup">
                            <p><span>Preview image</span> <i class="fa-regular fa-x" onclick="hidePopupImg()"></i></p>
                            <hr class="separator"/>
                            <img class="img-preview"/>
                        </div>
                        <input type="file" id="file-upload" accept="image/*" onchange="showPopupImg(this)">
                        <label for="file-upload" class="upload-button fa-solid fa-paperclip"></label>
                        <input type="text" class="message-input" placeholder="Write a message...">
                        <button class="send-button" onclick="sendMessage(this.parentElement.parentElement)">Send</button>
                    
                    </div>
                </div>
            }
        </main>
    </div>
</div>

@section JS{
    <script src="https://kit.fontawesome.com/3b920a99ab.js" crossorigin="anonymous"></script>
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/signalr/dist/browser/signalr-protocol-msgpack.js"></script>
    <script src="~/js/chat.js"></script>
}