@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@section CSS {
    <link rel="stylesheet" href="css/index.css">
}

<div class="main-centered-container">
    <img src="~/img/logo.png" class="logo"/>
    <h1 class="app-title">OdonChat</h1>
    <form class="login-form" asp-page="Index" asp-page-handler="Login">
        <input asp-for="login.username" type="text" placeholder="Username" class="input-field">
        <span asp-validation-for="login.username" class="error"></span>
        <input asp-for="login.password" type="password" placeholder="Password" class="input-field">
        <span asp-validation-for="login.password" class="error"></span>
        <div asp-validation-summary="ModelOnly" class="error"></div>
        <div class="buttons-container">
            <button type="submit" class="button login-button">Log in</button>
            <button type="button" class="btn btn-primary btn-lg login-button" data-bs-toggle="modal" data-bs-target="#registrationModal">Registrati</button>
        </div>
    </form>
</div>

<div class="modal fade" id="registrationModal" tabindex="-1" aria-labelledby="registrationModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="registrationModalLabel">Registrati</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="registrationForm" class="needs-validation" novalidate method="POST" asp-page="Index" asp-page-handler="Signup">
                    <div class="mb-3">
                        <label asp-for="user.username" class="form-label">Username:</label>
                        <input type="text" class="form-control" id="username" asp-for="user.username" minlength="3" required>
                        <span asp-validation-for="user.username" class="error"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="user.email" class="form-label">E-mail:</label>
                        <input type="email" class="form-control" id="email" asp-for="user.email" required>
                        <span asp-validation-for="user.email" class="error"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="user.password" class="form-label">Password:</label>
                        <input type="password" class="form-control" id="password" asp-for="user.password" required pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,}$" title="Almeno 8 caratteri, una maiuscola, una minuscola, un numero.">
                        <span asp-validation-for="user.password" class="error"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="pass2" class="form-label">Confirm password:</label>
                        <input type="password" class="form-control" id="confirmPassword" asp-for="pass2" required>
                        <span asp-validation-for="pass2" class="error"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="user.birthDate" class="form-label">Birth Date:</label>
                        <input type="date" class="form-control" id="dob" asp-for="user.birthDate" required>
                        <span asp-validation-for="user.birthDate" class="error"></span>
                    </div>

                    <div class="d-grid">
                        <button type="submit" class="btn btn-success btn-lg login-button">Sign up</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section JS{
    <script src="js/index.js"></script>
}